In [1]:
test_2023 = {
    'name': '2023_test_(dev1)',
    'queries': '../queries/2023/test/queries.jsonl',
    'qrels': '../queries/2023/test/qrel.txt',
    'runs': [
        ('bm25', './bm25/base-bm25-2023test-run.csv'),
        ('splade', './splade/splade-base-2023-test-run.csv')
    ]
}

train_2023 = {
    'name': '2023_train_(dev1)',
    'queries': '../queries/2023/train/queries.jsonl',
    'qrels': '../queries/2023/train/qrel.txt',
    'runs': [
        ('bm25', './bm25/base-bm25-2023train-run.csv'),
        ('splade', './splade/splade-base-2023-train-run.csv')
    ]
}

test_2024 = {
    'name': '2024_test_(dev1)',
    'queries': '../queries/2024/test-partial/queries.jsonl',
    'qrels': '../queries/2024/test-partial/qrel.txt',
    'runs': [
        ('bm25', './bm25/base-bm25-2024test-run.csv'),
        ('splade', './splade/splade-base-2024test-run.csv')
    ]
}

train_2024 = {
    'name': '2024_train_(dev1)',
    'queries': '../queries/2024/train/queries.jsonl',
    'qrels': '../queries/2024/train/qrel.txt',
    'runs': [
        ('bm25', './bm25/base-bm25-2024train-run.csv'),
        ('splade', './splade/splade-base-2024-train-run.csv')
    ]
}

In [2]:
import pyterrier as pt
import pandas as pd
import json

def experiment_results(test_info):
    runs = [pd.read_csv(run[1]) for run in test_info['runs']]
    with open(test_info['queries'], 'r') as inp:
        qids, queries = [], []
        for line in inp:
            obj = json.loads(line)
            qids.append(obj['query_id'])
            queries.append(obj['query'])
            
    topics = pd.DataFrame({'qid': qids, 'query': queries})
    topics = topics.astype({'qid': 'object', 'query': 'object'})
    qrels = pd.read_csv(test_info['qrels'], usecols=[0, 2, 3], names=['qid', 'docno', 'label'], header=None, sep=' ',
                        dtype={'qid': 'object', 'docno': 'object', 'label': 'int64'})
    
    
    return pt.Experiment(runs, topics, qrels, eval_metrics=['ndcg_cut', 'recall'], names=[run[0] for run in test_info['runs']])

## Train 2023 Set (dev1)

Contains only movies, 150 queries

In [3]:
experiment_results(train_2023)

,name,nDCG@5,nDCG@10,nDCG@15,nDCG@20,nDCG@30,nDCG@100,nDCG@200,nDCG@500,nDCG@1000,R@5,R@10,R@15,R@20,R@30,R@100,R@200,R@500,R@1000
0,bm25,0.076070,0.076070,0.079597,0.079597,0.085220,0.099103,0.109472,0.116746,0.127294,0.1,0.100000,0.113333,0.113333,0.140000,0.220000,0.293333,0.353333,0.453333
1,splade,0.071481,0.092805,0.098173,0.098173,0.103679,0.113721,0.120309,0.131609,0.143674,0.1,0.166667,0.186667,0.186667,0.213333,0.273333,0.320000,0.413333,0.526667

## Test 2023 Set (dev2)

Contains only movies, 150 queries

In [4]:
experiment_results(test_2023)

,name,nDCG@5,nDCG@10,nDCG@15,nDCG@20,nDCG@30,nDCG@100,nDCG@200,nDCG@500,nDCG@1000,R@5,R@10,R@15,R@20,R@30,R@100,R@200,R@500,R@1000
0,bm25,0.081232,0.089644,0.093146,0.096376,0.103285,0.113242,0.117926,0.128265,0.137357,0.106667,0.133333,0.146667,0.16,0.193333,0.253333,0.286667,0.373333,0.460000
1,splade,0.068689,0.077820,0.081238,0.082869,0.087108,0.096627,0.115413,0.125794,0.135647,0.093333,0.120000,0.133333,0.14,0.160000,0.213333,0.346667,0.433333,0.526667

## Train 2024 Set

Contains only movies, 150 queries. Also the same as the 2023 set

In [5]:
experiment_results(train_2024)

,name,nDCG@5,nDCG@10,nDCG@15,nDCG@20,nDCG@30,nDCG@100,nDCG@200,nDCG@500,nDCG@1000,R@5,R@10,R@15,R@20,R@30,R@100,R@200,R@500,R@1000
0,bm25,0.067022,0.075792,0.077652,0.079250,0.086596,0.101164,0.108596,0.117465,0.122469,0.093333,0.120000,0.126667,0.133333,0.166667,0.253333,0.306667,0.380000,0.426667
1,splade,0.066323,0.076838,0.085612,0.088697,0.092953,0.109602,0.116225,0.125619,0.131974,0.080000,0.113333,0.146667,0.160000,0.180000,0.280000,0.326667,0.406667,0.466667

## Test 2024 Set (reduced)

Only 536 of the original 600 test set queries. Contains movies, celebrities and landmarks. Contains mostly SYNTHETIC queries

In [6]:
experiment_results(test_2024)

,name,nDCG@5,nDCG@10,nDCG@15,nDCG@20,nDCG@30,nDCG@100,nDCG@200,nDCG@500,nDCG@1000,R@5,R@10,R@15,R@20,R@30,R@100,R@200,R@500,R@1000
0,bm25,0.256067,0.266984,0.272396,0.277714,0.286059,0.304617,0.312966,0.321340,0.327458,0.324627,0.358209,0.378731,0.401119,0.440299,0.548507,0.608209,0.677239,0.735075
1,splade,0.255153,0.269097,0.276034,0.282677,0.292577,0.306568,0.318018,0.326757,0.333522,0.311567,0.354478,0.380597,0.408582,0.455224,0.535448,0.617537,0.690299,0.753731