In [10]:
test_2023 = {
    'name': '2023_test_(dev1)',
    'queries': '../queries/2023/test/queries.jsonl',
    'qrels': '../queries/2023/test/qrel.txt',
    'runs': [
        ('bm25', './bm25/base-bm25-2023test-run.csv')
    ]
}

train_2023 = {
    'name': '2023_train_(dev1)',
    'queries': '../queries/2023/train/queries.jsonl',
    'qrels': '../queries/2023/train/qrel.txt',
    'runs': [
        ('bm25', './bm25/base-bm25-2023train-run.csv')
    ]
}

test_2024 = {
    'name': '2024_test_(dev1)',
    'queries': '../queries/2024/test-partial/queries.jsonl',
    'qrels': '../queries/2024/test-partial/qrel.txt',
    'runs': [
        ('bm25', './bm25/base-bm25-2024test-run.csv')
    ]
}

train_2024 = {
    'name': '2024_train_(dev1)',
    'queries': '../queries/2024/train/queries.jsonl',
    'qrels': '../queries/2024/train/qrel.txt',
    'runs': [
        ('bm25', './bm25/base-bm25-2024train-run.csv')
    ]
}

In [11]:
import pyterrier as pt
import pandas as pd
import json

def experiment_results(test_info):
    runs = [pd.read_csv(run[1]) for run in test_info['runs']]
    with open(test_info['queries'], 'r') as inp:
        qids, queries = [], []
        for line in inp:
            obj = json.loads(line)
            qids.append(obj['query_id'])
            queries.append(obj['query'])
            
    topics = pd.DataFrame({'qid': qids, 'query': queries})
    topics = topics.astype({'qid': 'object', 'query': 'object'})
    qrels = pd.read_csv(test_info['qrels'], usecols=[0, 2, 3], names=['qid', 'docno', 'label'], header=None, sep=' ',
                        dtype={'qid': 'object', 'docno': 'object', 'label': 'int64'})
    
    
    return pt.Experiment(runs, topics, qrels, eval_metrics=['ndcg_cut', 'recall'], names=[run[0] for run in test_info['runs']])

## Train 2023 Set (dev1)

Contains only movies, 150 queries

In [12]:
experiment_results(train_2023)

,name,nDCG@5,nDCG@10,nDCG@15,nDCG@20,nDCG@30,nDCG@100,nDCG@200,nDCG@500,nDCG@1000,R@5,R@10,R@15,R@20,R@30,R@100,R@200,R@500,R@1000
0,bm25,0.07607,0.07607,0.079597,0.079597,0.08522,0.099103,0.109472,0.116746,0.127294,0.1,0.1,0.113333,0.113333,0.14,0.22,0.293333,0.353333,0.453333

## Test 2023 Set (dev2)

Contains only movies, 150 queries

In [13]:
experiment_results(test_2023)

,name,nDCG@5,nDCG@10,nDCG@15,nDCG@20,nDCG@30,nDCG@100,nDCG@200,nDCG@500,nDCG@1000,R@5,R@10,R@15,R@20,R@30,R@100,R@200,R@500,R@1000
0,bm25,0.081232,0.089644,0.093146,0.096376,0.103285,0.113242,0.117926,0.128265,0.137357,0.106667,0.133333,0.146667,0.16,0.193333,0.253333,0.286667,0.373333,0.46

## Train 2024 Set

Contains only movies, 150 queries

In [14]:
experiment_results(train_2024)

,name,nDCG@5,nDCG@10,nDCG@15,nDCG@20,nDCG@30,nDCG@100,nDCG@200,nDCG@500,nDCG@1000,R@5,R@10,R@15,R@20,R@30,R@100,R@200,R@500,R@1000
0,bm25,0.067022,0.075792,0.077652,0.07925,0.086596,0.101164,0.108596,0.117465,0.122469,0.093333,0.12,0.126667,0.133333,0.166667,0.253333,0.306667,0.38,0.426667

## Test 2024 Set (reduced)

Only 536 of the original 600 test set queries. Contains movies, celebrities and landmarks

In [15]:
experiment_results(test_2024)

,name,nDCG@5,nDCG@10,nDCG@15,nDCG@20,nDCG@30,nDCG@100,nDCG@200,nDCG@500,nDCG@1000,R@5,R@10,R@15,R@20,R@30,R@100,R@200,R@500,R@1000
0,bm25,0.256067,0.266984,0.272396,0.277714,0.286059,0.304617,0.312966,0.32134,0.327458,0.324627,0.358209,0.378731,0.401119,0.440299,0.548507,0.608209,0.677239,0.735075